
<h1 class="page-titles">Edit Blog Post</h1>
<div class="blogs-feed">
<%= render "blog_form" %>

	<% if user_signed_in? && @blog.user_id == current_user.id %>
		<div class="delete-blog">
			<%= link_to('DELETE BLOG POST', blog_path, method: :delete)%>
		</div>
	<% end %>

</div>