
<h1 class="page-titles">MY BLOGS</h1>

<div class="new-blog">
<div><a href="blogs/new"> New Blog Post </a></div>
</div>

<% @blogs.each do |b|%>
	<%if b.user_id == current_user.id%>
	<div class="blogs-feed">
		<h3 class="blog-headers centerer">Title</h3>
		<div class="centerer"><%= b.title %></div>
		<hr>
		<h3 class="blog-headers centerer">Content</h3>
		<div><%= b.content %></div>
		<div class="clickable"><a  href="/blogs/<%= b.id%>">Show Blog & Comments</a></div>
	</div>
	<% end %>
<% end %>