<h1 class="page-titles">Edit Comment</h1>

<div class="blogs-feed">

<%= render 'comment_form' %>

<% if user_signed_in? && @comment.user_id == current_user.id %>
	<div class="delete-comment"><%= link_to('DELETE COMMENT', blog_comment_path, method: :delete)%> </div>
<% end %>
<span><%= link_to "Back", :back %></span>

</div>
<div class="centerer"></div>