<h1 class="page-titles">Welcome to Blog Space!</h1>
	<!-- Lists all the blog posts -->
	<% @blogs.each do |b| %>
	<div class="blogs-feed">
		<h3 class="blog-headers centerer">Title</h3>
		<% if user_signed_in? %> 
		<div class="centerer"><%= b.title %></a></div>
		<% else %>
		<div class="centerer"><%= b.title %></div>
		<% end %>
		<hr>
		<h3 class="blog-headers centerer">Content</h3>
		<div><%= b.content %></div>
		<div class="clickable"><a  href="/blogs/<%= b.id%>">Show Blog & Comments</a></div>
	</div>
	<% end %>
