// centers text
.centerer {
 	text-align: center;

 }
// styles all page titles
.page-titles{
	color: #2767CF;
	text-align: center;
	margin: 10px;
	text-transform: uppercase;
}
// header guts go here.. also the flash notice 
.header-box {
	height: 70px;
	position: sticky;
	top:0;
}

.notice {
	background: limegreen;
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin:0;
	animation-name: flash;
	animation-duration: 4s;
	visibility: hidden;
}
.alert {
	background: limegreen;
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin:0;
	animation-name: flash;
	animation-duration: 4s;
	visibility: hidden;
}

@keyframes flash {
	0% { opacity:0; visibility: visible;}
	25% { opacity:1;}
	50% { opacity:.1; }
	100% { opacity:1; visibility: hidden;}
}


.layout-body {
	margin-top: 0;
	background: #EFF0F1;
}