// login modal
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	width: 600px;
	max-width: 100%;
	height: 400px;
	max-height: 100%;
	background-color: black;
	border: 2px solid;
	z-index: 200;
}

#modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.close {
	position: absolute;
	right: 0px;
	background-color: black;
	border-radius: 5px;
	color: white;
	z-index: 1;
}


.modal2 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	width: 600px;
	max-width: 100%;
	height: 400px;
	max-height: 100%;
	background-color: black;
	border: 2px solid;
	z-index: 200;
}

// sign up modal
#modal-overlay2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.close2 {
	position: absolute;
	right: 0px;
	background-color: black;
	border-radius: 5px;
	color: white;
	z-index: 1;
}


.modal-titles{
	text-align: center;
	margin: 10px;
	text-transform: uppercase;
}