// sign upmodal and page styling
.registration-box {

	width: 30%;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #5F5F5F;
    box-shadow:0 2px 10px #5F5F5F;
 	background-color: white;
 	margin: 0 auto;
 	text-align: center;
 	font-size: 18px;
 	color: #25292E;
 	
 	a {
 		text-decoration: none;
 		text-transform: uppercase;
 		color: #25292E;
 	}

}

.back-button{
	text-decoration: underline;
	font-size: 14px;
}